@font-face {
    font-family: Outfit;
    src: url(./images/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: Ananda;
    src: url(./images/Ananda_Personal_Use.ttf);
}
@font-face {
    font-family: Tommy;
    src: url(./images/MADE\ Tommy\ Soft\ Light\ PERSONAL\ USE.otf);
}
@keyframes slideFromRight {
    from {
        left: 100%;
    }
    to {
        left: 45%; 
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-70%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.floating-in {
    animation: floatIn 0.8s ease-out;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
}
.hidden{
  display: none;
}
body {
    margin-left: 30px;
    font-family: Outfit;
    margin-top: 80px;
    background-color: #F5F6F9;
    overflow-x:hidden;
}
.header{
    background-color:#F5F6F9;
    width: 100%;
    height: 13%;
    margin-top: 0px;
    
    position: fixed;
    z-index: 10000;
    top: 0%;
    padding-bottom: 0px;
}
.content{
    margin-top: 100px;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 4px;
    margin-left:0px;
}
.menu a {
    display: block;
    padding: 30px;
    padding-top: 18px;
    text-decoration: none;
    text-align: center;

    font-size: 17px;
    color: #332B46;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 10px;
    border-radius:40px;
}
.menu a:hover {
    background-color: #276AFD;
    transition:background-color 0.3s ease, color 0.3s ease;
    color: white;
}
.Sign li{
    margin-top: 0px;
    display: block;
    text-decoration: none;
    font-family: Outfit;
    font-size: 18px;
    padding: 10px;
    padding-top: 18px;
    margin-right: 15px;
    float:right;
}
.Sign a{
    text-decoration: none;
}
.bitra {
    font-family: Outfit;
    font-size: 40px;
    font-weight: 600;
}
.separator{
    width: 1.5cm;
    height: 5px;
    background-color:#276AFD;
    margin-top: 27px;
    margin-left:1px;
    margin-right: 2px;
    border-color:#276AFD;
    border: 1cap;
    border-radius: 5px;
}

.halfMap{
    position: absolute;
    z-index: -1;
    top: -21%;
    left: 100%; 
    animation: slideFromRight 1.5s ease-out forwards;
}

.halfMap{
    position: absolute;
    z-index: -1;
    top: -21%;
    left: 100%; 
    animation: slideFromRight 1.5s ease-out forwards;
}
.container{
    max-width: 700px;
    width: 100%;
    background: transparent;
    padding: 25px 30px;
    border-radius: 5px;

}
.title{
    font-family: Outfit;
}
.container .title{
    font-size: 45px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content:'';
    position: absolute;
    height: 3px;
    width: 70px;
    background: #276AFD;
    left:0;
    bottom :-10px;
    border-radius: 12px;
}
.details{
    font-family: Outfit;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
}
form .user-details .input-box{
    margin : 20px 0 12px 0 ;
    width: calc(100% / 2 - 20px);

}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input{
    height: 45px;
    width : 100% ;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc ;
    padding-left: 15px ;
    font-size: 16px ;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}
.user-details .input-box input:focus, .user-details .input:valid{
    border-color: rgba(85, 61, 183, 0.533) ;
}
form .gender-details .gender-title{
    font-size:20px;
    font-weight:500;

}
form .gender-details .category{
    width: 80%; 
    display: flex;
    justify-content: space-between;
    margin:14px 0;

}
.gender-details .category label{
    display: flex;
    align-items :center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border:5px solid transparent ;

}
#dot-1:checked ~ .category label .one ,
#dot-2:checked ~ .category label .two{
    border-color:#d9d9d9;
    background:#276AFD  ;
}
form input[type="radio"]{
    display: none;
}

form .button{
    margin: 30px 0;
    height: 45px;
    width: 100%;
  }
  
form .button button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff; 
     background:#276AFD;
     font-size: 18px;
     font-weight: 500;
     border-radius: 15px;
     text-transform: uppercase;
     letter-spacing: 1px;
     cursor: pointer;
  }
  form .button button:hover{
    background: linear-gradient(-135deg,rgba(85, 61, 183, 0.533) ,rgb(52, 150, 248)) ;

}
form .signup-link{
    text-align: center;
    bottom: 10px;
  }
  
  form .signup-link a{
    color: #276AFD;
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }
     

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category {
        width: 100%;
    }
    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 0;
    }
}
.error{
    color:red;
    font-weight: bold;
  }
  .good{
    color: green;
    font-weight: bold;
  }

  #name{
    font-family: Outfit;
    outline: 0;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
  }
  #email{
    font-family: Outfit;
    outline: 0;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
  }
  #phone{
    font-family: Outfit;
    outline: 0;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
  }
  #password{
    font-family: Outfit;
    outline: 0;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
  }
  #RegisterButton{
    position: absolute;
    top:83%;
    left: 20%;
    border-radius: 30px;
    height: 50px;
    width: 250px;
  }
 .dot2{
    position: absolute;
    left:20%;
 }
 .gender-title{
    position: absolute;
    top:63%;
    left: 29%;
 }
 .category{
    position: absolute;
    top:67%;
    left:29%;
 }
 .signup-link{
    position: absolute;
    top:91%;
    left:20%;
 }