<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="shortcut icon" href="/css/images/avion2.png" type="image/x-icon">
</head>
<body>
   {{> navbar}}
   
    <img class="halfMap" src="/css/images/bigMap.png">

    <div class="container">
        <div class="title">Create an account</div><br>
        {{#if msg }}
             <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
        <form action="/auth/register" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="details"> Name </span>
                    <input type="text" placeholder="Enter your full name" name="name" id="name" required>
                </div>

                <div class="input-box">
                    <span class="details"> Email </span>
                    <input type="email" placeholder="Enter your email"  name="email" id="email"  required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number </span>
                    <input type="text" placeholder="Enter your phone number" name="phone" id="phone" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter a password" name="password" id="password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password </span>
                    <input type="password" placeholder="Confirm your password" name="confirm_password" id="password" required>
                </div>
            </div>
        <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" value="Male">
            <input type="radio" name="gender" id="dot-2" value="Female">
            <span class="gender-title">Gender</span>
            <div class="category">
                <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                </label>
                <label for="dot-2" class="dot2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                </label>
            </div>
        </div>

        <div class="button">
          <button id="RegisterButton" type="submit" style="font-family:Outfit;">Register</button>
        </div>
        <div class="signup-link">
          <p> Already a member ? <a href="/">Login now</a> </p> 
        </div>
        </form>
   
    </div>
</body>
</html>